<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome To the Note App</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

</head>
<body class="container">
<h1>Welcome to the Note App</h1><br>
<h3><a th:href="@{/user/login}">Login</a> Or <a th:href="@{/user/register}">Register</a></h3>
</body>
</html>
